@font-face {
  font-family: "LexendDeca";
  font-style: normal;
  font-weight: normal;
  src: url("https://raw.githubusercontent.com/svinstech/assets/master/corix_fonts/LexendDeca.woff") format('woff'),
}


@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: normal;
  src: url("https://raw.githubusercontent.com/svinstech/assets/master/corix_fonts/Outfit.woff") format('woff'),
}
