@font-face {
  font-family: "GT-America-Standard";
  font-style: normal;
  font-weight: normal;
  src: url("https://raw.githubusercontent.com/svinstech/assets/master/fonts/GT-America-Standard-Regular.woff2") format('woff2'),
}


@font-face {
  font-family: "Mirador";
  font-style: normal;
  font-weight: normal;
  src: url("https://raw.githubusercontent.com/svinstech/assets/master/fonts/Mirador-SemiBold.woff2") format('woff2'),
}
